# Database configuration
POSTGRES_HOST= 
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# App configuration
APP_PORT=

# JWT configuration
JWT_SECRET=

# Rate limit configuration
THROTTLE_LIMIT=
THROTTLE_TTL= 